* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* primary colors */
  --Light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  /* Gradients */
  /* Background */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  /* Circle */
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  /* Neutral colors */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  /* Font weights */
  --fw-light: 500;
  --fw-medium: 700;
  --fw-bold: 800;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  height: 400px;
  max-width: 550px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  box-shadow: inset 0 -3em 3em rgba(251, 250, 250, 0.3), 0 0 0 2px white,
    0.3em 0.3em 1em rgba(168, 167, 167, 0.6);
  border-radius: 15px;
}

.result {
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
  color: var(--White);
  grid-column: 1 / 7;
  grid-row: 1 / -1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}
.result__heading {
  font-size: 1rem;
  font-weight: var(--fw-light);
  color: var(--White);
  margin-top: 20px;
  opacity: 0.8;
}
.result__score {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border-radius: 50%;
  display: grid;
  place-content: center;
  aspect-ratio: 1 / 1;
  background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
}
.result__score span {
  font-size: 2.5rem;
  font-weight: var(--fw-bold);
  color: var(--White);
}
.result__info {
  font-weight: var(--fw-medium);
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.description {
  width: 90%;
  text-align: center;
  font-size: 1rem;
  font-weight: var(--fw-light);
  color: var(--Light-lavender);
  font-weight: var(--fw-medium);
  margin-bottom: 25px;
  line-height: 1.5;
}

.summary {
  grid-column: 7 / -1;
  grid-row: 1 / 5;
  padding: 20px;
}

.summary__heading {
  font-size: 1rem;
  padding-bottom: 10px;
  color: var(--Dark-gray-blue);
}
.summary__item {
  background-color: #fff7f7;
  border-radius: 10px;
  margin: 10px 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 25px 0;
}
.summary__item2 {
  background-color: #fff6eb;
  border-radius: 10px;
}
.summary__item3 {
  background-color: #edfef8;
  border: 1px solid #f3fefa;
  border-radius: 10px;
}
.summary__item4 {
  background-color: #edf7fe;
  border-radius: 10px;
}
.summary__item svg {
  margin-left: 8px;
}
.title {
  font-size: 0.9rem;
  font-weight: var(--fw-light);
  color: var(--Light-red);
  margin-left: -50px;
}
.title2 {
  color: var(--orange-yellow);
}
.title3 {
  color: var(--Green-teal);
}
.title4 {
  color: var(--Cobalt-blue);
}
.summary__item p {
  margin-right: 10px;
  color: var(--Dark-gray-blue);
  opacity: 0.8;
}
.summary__item p span {
  font-weight: var(--fw-medium);
  color: var(--Dark-gray-blue);
  opacity: 1.4;
}
.btn {
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid var(--Dark-gray-blue);
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  font-weight: var(--fw-medium);
  width: 100%;
  height: 40px;
  margin-top: 25px;
  cursor: pointer;
  transition: all ease-in-out;
}
button:hover {
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
}
@media (max-width: 512px) {
  .container {
    width: 100%;
    max-width: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: none;
  }
  .result {
    width: 100%;
    margin-top: 20px;
    border-radius: 0 0 25px 25px;
  }
  .result__heading {
    font-size: 1.5rem;
    padding: 10px 0;
  }
  .result__score {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    width: 180px;
    height: 180px;
  }
  .result__score span {
    font-size: 4rem;
  }
  .result__info {
    padding: 10px 0;
    font-size: 1.5rem;
  }
  .description {
    width: 300px;
    text-align: center;
    font-size: 1rem;
    min-width: 250px;
    color: var(--White);
    margin-bottom: 30px;
    opacity: 0.6;
  }
  .summary {
    width: 100%;
    margin-top: 40px;
  }
  .summary__heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .summary__item {
    padding: 25px 0;
    height: 70px;
    margin-bottom: 10px;
  }
  .title {
    margin-left: -200px;
    font-size: 1.4rem;
  }
  .summary__item p {
    font-size: 1rem;
    margin-right: 20px;
  }
  .btn {
    font-size: 1.4rem;
    border-radius: 40px;
  }
}
